{% extends "base.html" %} 

{% block title %}Expenses{% endblock title%}

{% block expenseactive %}active{% endblock expenseactive %}

{% block content %}
<!-- Heading -->
<h1 class="text-center mt-3 mb-5">Expenses</h1>

<!-- Search Bar -->
<div class="row mb-3 justify-content-center">
  <div class="col-6">
    <form action="" method="POST" class="d-flex" role="search">
      {% csrf_token %}
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>
<!-- end Search Bar -->

<!-- Add-Expense-Form -->
<div class="row my-3 justify-content-center">
  <div class="col-10">
    <form action="/" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          <input
          type="text"
          class="form-control"
          id="expense_name"
          name="expense_name"
          placeholder="Expense name"
            aria-label="Expense name"
            />
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            id="expense_amount"
            name="expense_amount"
            placeholder="Amount"
            aria-label="Amount"
          />
        </div>
        <div class="col-3">
          <button type="submit" class="form-control lh-1 fs-6">Add Expense</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end Add-Expense-Form -->

<!-- ExpensesList -->
<!-- <div class="row justify-content-center" style="height: 70%; max-height: 70%; overflow-x: hidden; overflow-y: auto;"> -->
<div class="row mt-4 mb-5 justify-content-center overflow-auto">
<!-- <div class="row justify-content-center"> -->
  <div class="col-8 border border-2 rounded border-light p-1">
    <ul class="list-group">

      <!-- forloop template to render all the expenses in a list -->
      {% for expense in expenses %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{expense.name}}</div>
          <p>₹ <span>{{expense.amount}}</span> - <span>{{expense.date}}</span></p>
        </div>
        <div>
          <span class="badge btn btn-dark rounded-pill">
            <span class="cicon cicon-pencil bg-light"></span>
          </span>
          <span class="badge btn btn-danger rounded-pill">
            <span class="cicon cicon-trash bg-light"></span>
          </span>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- end ExpensesList -->

{% endblock content %}
