{% extends "base.html" %} 

{% block title %}Expenses{% endblock title%}

{% block expenseactive %}active{% endblock expenseactive %}

{% block content %}
<!-- Heading -->
<h1 class="text-center">Expenses</h1>

<!-- Search bar -->
<div class="row justify-content-center">
  <div class="col-6">
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>

<!-- List of expenses server rendered -->
<div class="row justify-content-center" style="height: 70%; max-height: 70%; overflow-x: hidden; overflow-y: auto;">
  <div class="col-8 border border-2 rounded border-light p-1">
    <ul class="list-group">

      <!-- forloop template to render all the expenses in a list -->
      {% for expense in expenses %}
        <li class="list-group-item">{{expense.name}}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<!-- Add Expense Form -->
<div class="row justify-content-center">
  <div class="col-10">
    <form action="/" method="POST">
      <div class="row">
        <div class="col-6">
          <input
            type="text"
            class="form-control"
            placeholder="Expense name"
            aria-label="Expense name"
          />
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            placeholder="Amount"
            aria-label="Amount"
          />
        </div>
        <div class="col-3">
          <button type="submit" class="form-control lh-1 fs-6">Add Expense</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
